.containerLogin {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 100%;
    height: 70vh;
    padding: 20px;
    background-color: #cfd9df;
    border-radius: 10px;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.299);
}

.infoLogin {
    width: 45%;
    height: 100%;
    background-color: #01B78F;
    border-radius: 10px 0 0 10px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 55%;
    height: 100%;
    background-color: #fff;
    border-radius: 0 10px 10px 0;
    padding: 100px 80px;
}

.cpLogin {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.cpLogin label {
    font-size: 16px;
    color: #333;
}

.cpLogin input {
    width: 100%;
    height: 40px;
    background-color: transparent;
    outline: 0;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 16px;
    color: #333;
}

.acoes button {
    width: 200px;
    background-color: #01B78F;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.acoes button:hover {
    background-color: #0a9d7d;
}