.containerMain {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 2rem;
    font-size: 80px;
    color: red;
}

.btnMenuResponse {
    font-size: 25px;
    color: #FFF;
    cursor: pointer;
}

header {
    display: flex;
    width: 100%;
}

.topPage {
    width: 100%;
    padding: 20px;
    background-color: #070B22;
}

.sidebar {
    max-width: 80px;
    width: 100%;
    height: 100vh;
    background-color: #070B22;
    transition: 0.5s ease-in-out;
}

.sidebar.active {
    max-width: 250px;
}

.menu {
    width: 100%;
    height: 100%;
    padding: 50px 0;
}

.menu ul {
    padding: 0;
}

.textLink {
    width: 100%;
    font-size: 16px;
    color: #fff;
    padding: 10px 0;
    transition: all 0.3s ease-in;
}

.textLink:hover {
    background-color: #243d46;
}

.textMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 25px;
    cursor: pointer;
   
}



.titleMenu {
    display: flex;
    align-items: center;
}

.titleMenu span {
    font-size: 18px;
    margin-left: 15px;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.sidebar.active .titleMenu span {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

.titleMenu svg {
    font-size: 25px;
}

.containerTable {
    justify-content: flex-start;
    width: 100%;
    padding: 20px;
}

.textBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 50px;
}

.textBtn button {
    width: 120px;
    height: 40px;
    color: #fff;
    background-color: #0D437F;
    border-radius: 5px;
    border: none;
}

.textBtn button:hover {
    background-color: #0d396b;
}


table tbody tr td {
    position: relative;
}



.btnApagar {
    text-align: center;
    cursor: pointer;
}

.btnApagar svg {
    color: #0d396b;
    font-size: 25px;
    transform: scale(1);
    transition: .3s ease;
}

.btnApagar svg:hover {
    color: #194c86;
    transform: scale(1.2);
}

.btnApagar button {
    display: none;
}

.adicionarContact {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 1000%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adicionarContact.active {
    right: 0;
    background-color: rgba(0, 0, 0, 0.394);
}

.tabela .apagar {
    cursor: pointer;
}

.formAdd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    width: 100%;
    height: 90vh;
    z-index: 100;
    background-color: #FFF;
    border-radius: 10px;
    padding: 20px;
}

.campos {
    max-width: 800px;
    width: 100%;
    margin-bottom: 30px;
}

.campos input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: 0;
    padding-left: 10px;
}

.formAdd .acoes {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.formAdd .acoes button {
    font-size: 18px;
    background-color: #0D437F;
    margin: 20px 50px;
}

.formAdd .acoes button:hover {
    background-color: #3c73b1;
}


@media all and (max-width: 800px) {
    .formAdd {
        height: 100vh;
        border-radius: 0pxs;
    }

    .textBtn {
        padding: 20px 0;
    }

    .containerTabela {
        height: calc(100vh - 230px);
        overflow-x: hidden;
    }

    tbody td {
        display: block;
    }

    .tabela  {
        height: 200px;
        overflow: scroll;
    }
 

    table tbody tr td:before {
        content: attr(data-title);
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        color: rebeccapurple;
        width: 100px;
        height: 100px;
        z-index: 50;
        opacity: 1;
    }

    table thead {
        position: absolute;
        display: none;
        overflow-y: scroll;
    }

    table {
        border: none;
    }

    tbody {
                height: 200px;
        overflow: scroll;

    }
    
    tbody tr {
        position: relative;
        margin-bottom: 10px;
        display: block;
        border: 1px solid #dad6eb;
    }

    .btnApagar button  {
        display: block;
        width: 100%;
        background-color: #0d396b;
        padding: 10px;
        color: #FFF;
        font-size: 16px;
        border-radius: 25px;
        border: none;
    }

    .btnApagar svg {
        display: none;
    }

    table tbody tr td {
        display: block;
        text-align: right;
    }

}